body {
    border-top: 5px solid #D46A2B;
}
.skip-link {
  position: absolute;
  top: -50px;
  left: 10px;
  background: #ffffff;
  color: #000000;
  padding: 8px 14px;
  border: 2px solid #000000;
  border-radius: 4px;
  z-index: 1000;
  font-weight: 600;
  text-decoration: none;
}

.skip-link:focus {
  top: 10px;
}
.site-footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #F4EDE9;
    text-decoration: underline;;
}
.site-footer-top {
  margin-bottom: 8px;
}

.site-footer a {
  color: #1C3D3A; /* vert AltAria42 */
  text-decoration: underline;
}

.site-footer a:hover,
.site-footer a:focus {
  text-decoration: underline;
}
